 <body>
        <div class="left">
            <img src="megamenu-img.png" alt="">
            <div>User Name</div>
        </div>
        <div class="right">
            <table>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Full Name</th>
                        <td scope="col">Bob the builder</td>             
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Email</th>
                        <td>bob@gmail.com</td>
                      </tr>
                    </tbody>
                    <thead>
                    <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <td scope="col">Britain</td>             
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Role</th>
                                <td>Custommer</td>
                            </tr>
                        </tbody>
                    <thead>
                        <thead>
                            <tr>
                                <th scope="col">Active</th>
                                <td scope="col">1</td>             
                            </tr>
                        </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Phone_Number</th>
                                    <td>312567111</td>
                                </tr>
                            </tbody>
                        <thead>
              </table>
        </table>
        </div>
    </body>