 <body>
        <div class="left">
            <img src="megamenu-img.png" alt="">
            <div><h3><b>English Grammar in Use Book</b></h3></div>
            <div><p>The world's best-selling grammar series for learners of English. English Grammar in Use Fourth edition is an updated version of the world's best-selling grammar title. It has a fresh, appealing new design and clear layout, with revised and updated examples, but retains all the key features of clarity and accessibility that have made the book popular with millions of learners and teachers around the world.</p></div>
        </div>
        <div class="right">
            <table>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Order Id</th>
                        <td scope="col">10</td>             
                      </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <th scope="row">Custommer Name</th>
                            <td>Sam</td>
                        </tr>
                        <tr>
                            <th scope="col">Totle Cose</th>
                            <td scope="col">100</td>             
                       </tr>
                        <tr>
                            <th scope="row">Shipping Fee</th>
                            <td>default</td>
                        </tr>
                        <tr>
                            <th scope="col">Delivery status</th>
                            <td scope="col">Prepare</td>             
                        </tr>
                        <tr>
                            <th scope="row">Payment method</th>
                            <td>COD</td>
                        </tr>
                        <tr>
                            <th scope="col">Customer phone number</th>
                            <td scope="col">542162211</td>             
                        </tr>
                        <tr>
                            <th scope="col">Customer address</th>
                            <td scope="col">Korea</td>             
                        </tr>
                        <tr>
                            <th scope="col">Order date</th>
                            <td scope="col">Now()</td>             
                        </tr>
                        <tr>
                            <th scope="col">Expected arriving time</th>
                            <td scope="col">Default</td>             
                        </tr>
                    </tbody>
                    <thead>
              </table>
        </table>
        </div>
    </body>