<body data-sidebar="dark">
    <!-- Begin page -->

    <div id="layout-wrapper">
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-wrap">

                            <div class="col-sm-12 col-xl-9">
                                <div class="row card">
                                    <div class="d-flex mt-3 ml-4 mr-4">
                                        <h5>Order #NZ1572</h5>
                                    </div>
                                    <div class="ml-4 mr-4">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between mb-2">
                                                <span class="text-center">
                                                    <h6 class="font-size-14">Ordered date: </h6>
                                                    <span>October 7, 2020</span>
                                                </span>
                                                <span class="text-center">
                                                    <h6 class="font-size-14">Number books: </h6>
                                                    <span>6 items for 3 books</span>
                                                </span>
                                                <span class="text-center">
                                                    <h6 class="font-size-14">Total: </h6>
                                                    <span>$5,882.00</span>
                                                </span>
                                                <span class="text-center">
                                                    <h6 class="font-size-14">Delivery status: </h6>
                                                    <span class="badge badge-primary">Delivery</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row card">
                                    <div class="d-flex justify-content-between mt-4 ml-4 mr-4">
                                        <h5>Orders items</h5>
                                        <p>Order will be delivery for multiple times</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-centered mb-0 table-nowrap">
                                                <thead class="bg-light">
                                                    <tr class="text-center">
                                                        <th style="width: 120px">Image</th>
                                                        <th style="word-wrap: break-word; max-width: 200px;">Book title
                                                        </th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <img src="/images/products_images/01_A.jpg"
                                                                alt="product-img" title="product-img"
                                                                class="avatar-md" />
                                                        </td>
                                                        <td style="word-wrap: break-word; max-width: 200px;">
                                                            <h5 class="font-size-14 text-truncate"><a
                                                                    href="ecommerce-product-detail.html"
                                                                    class="text-dark">English Grammar in Use</a></h5>
                                                        </td>
                                                        <td class="text-center">
                                                            169.000đ
                                                        </td>
                                                        <td class="text-center">
                                                            01
                                                        </td>
                                                        <td class="text-center">
                                                            169.000đ
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            <img src="/images/products_images/02_A.jpg"
                                                                alt="product-img" title="product-img"
                                                                class="avatar-md" />
                                                        </td>
                                                        <td style="word-wrap: break-word; max-width: 200px;">
                                                            <h5 class="font-size-14 text-truncate"><a
                                                                    href="ecommerce-product-detail.html"
                                                                    class="text-dark">The
                                                                    Official Cambridge Guide to
                                                                    IELTS Student's Book</a></h5>
                                                        </td>
                                                        <td class="text-center">
                                                            364.000đ
                                                        </td>
                                                        <td class="text-center">
                                                            02
                                                        </td>
                                                        <td class="text-center">
                                                            728.000đ
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            <img src="/images/products_images/07_A.jpg" alt="
                                                                product-img" title="product-img" class="avatar-md" />
                                                        </td>
                                                        <td style="word-wrap: break-word; max-width: 200px;">
                                                            <h5 class="font-size-14 text-truncate"><a
                                                                    href="ecommerce-product-detail.html"
                                                                    class="text-dark">Đọc Vị Bất Kỳ Ai</a></h5>

                                                        </td>
                                                        <td class="text-center">
                                                            63.000đ
                                                        </td>
                                                        <td class="text-center">
                                                            03
                                                        </td>
                                                        <td class="text-center">
                                                            189.000đ
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light text-right">

                                                        <th scope="row" colspan="4">
                                                            Sub Total :
                                                        </th>

                                                        <td>
                                                            $ 1530
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light text-right">

                                                        <th scope="row" colspan="4">
                                                            Shipping Charge :
                                                        </th>

                                                        <td>
                                                            $ 25
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light text-right">

                                                        <th scope="row" colspan="4">
                                                            Total :
                                                        </th>

                                                        <td>
                                                            $ 1525
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xl-3">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h5>Customer</h5>

                                            <div class=" card-body d-flex justify-content-center">
                                                <img class="rounded-circle" src="/images/users/avatar-1.jpg"
                                                    alt="Card image cap" width="55" height="55">
                                                <div class="ml-3">
                                                    <h5 class="font-size-16">Jessica Moore</h5>
                                                    <p>This is a first order</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <h5>Contact person</h5>
                                            <div class="card-body">
                                                <h3 class="card-title">Jessica Moore</h3>
                                                <a href="#">jessica-moore@example.coms</a>
                                                <p class="mt-1">+38 (094) 730-24-25</p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <h5>Shipping & Billing address</h5>
                                            <div class="card-body">
                                                <p>Jessica Moore
                                                    <br>Random Federation
                                                    <br>115302, Moscow
                                                    <br>ul. Varshavskaya, 15-2-178
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Nazox.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
</body>